     {% load static %}
       <div class="row ">
        <div class="col-2">
            <img class=animation src="{% static "img/dragon.jpg" %}" alt="">
            <div class="class-0">
               <button type="button" class="btn btn-outline-primary me-2"> 5 &#128151;</button>
            </div>
        </div>
       <div class="col-10">
         <h2><a href="{% url 'question' %}">How to find a dragon?</a></h2>
         <big>Dragons are mythical creatures that appear in many different cultures and time periods. Dragons have been described as monsters, serpents, reptiles, or beasts.

The dragon is the great, great grandfather of all monsters.

Before the daemon, before the vampire, before the werewolf, before the giant. Before them all was the original uber-monster the dragon.

The dragon's image has crawled across cave paintings 25,000 years old, dwarfing mammoths. It has slithered across Chinese rock art in Shanxi province 8000 years before Christ.

There is something magical about dragons that has kept our intrigue over many centuries.
         </big>
           <div class="text1">
                   tags:
                   <a href="{% url 'tags' %}">dragons </a>
                   <a href="{% url 'tags' %}">furii </a>
           </div>
       </div>
       </div>