     {% load static %}
       <div class="row ">
        <div class="col-2">
            <img class=animation src="{% static "img/dragon.jpg" %}" alt="">
            <div class="class-0">
               <button type="button" class="btn btn-outline-primary me-2"> {{ question.rating }} &#128151;</button>
            </div>
        </div>
       <div class="col-10">
         <h2><a href=""> {{question.title}}</a></h2>
           <div class="text1">
                   tags:
                   {% for tags in context.tags %}
            <a href="{% url 'tags' tag_name=tags.title %}" >{{ tags.title }}</a>
        {% endfor %}
           </div>
       </div>
       </div>