{% extends "incl/base.html" %}
{% load static %}

{% block content %}

{% include "incl/questionForAnswer.html" %}
    <hr>

    {% for answer in page %}
      {% include "incl/single_answer.html" %}
    {% endfor %}
 {% include "incl/pagination.html" %}
    <form class="row questions"style=" height:100px">

  <input type="text" id="fname" name="fname"placeholder="Write your answer.." maxlength="350"; >
</form>

 <button type="button" class="btn btn-outline-dark me-2">Answer</button>

{% endblock content %}